<h1> MOVIE REVIEW  </h1>

<div class="row">

    <% @movies.each do |movie|%>
    <div class="col-sm-6 col-md-4">
         <a href="/movies/<%= movie.id %>">
        
        <%= image_tag movie.movie_img.url(:movie_show), class: "movie-show"%>
         


         </a>
    </div>
    
    <% end %>
</div>

