<style>
img {
    width: 100%;
    object-fit: cover;
    height: 300px;
    margin-bottom: 40px;
}
</style>
<h1> Top Suggestions </h1>

<div class="row">
    <% @suggestions.inspect %>
    <% @suggestions.each do |suggestion|%>
    <div class="col-sm-6 col-md-4">
         <a href="/suggestions/<%= suggestion.id %>">
        
        <%= image_tag suggestion.cover_picture, class: "movie-index w-100"%>

      
       
        
         
           
    </div>
    
    <% end %>
</div>